ul {
    padding: 0;
    margin: 0;
}
li {
    display: inline-block;
}
a {
    text-decoration: none;
}
p {
    margin: 0px;
}
body {
    color: #291300;
}
button {
    padding: 0px;
}
.footerAbajo {
    min-height: 77vh;
}
.link-estilo {
    text-decoration: none; 
    color: inherit;
    cursor: pointer;
}
.color1 {
    background-color: #291300;
    border: #291300;
}
.color1:hover {
    background-color: #38220e;
    border: #38220e;
}
.colortexto1 {
    color: #291300;
}
.colortextoblanco {
    color: #ffffff;
}
.colortextoblanco:hover {
    color: #ffffff;
}
.colortexto1:hover {
    text-decoration: underline;
}
.icon80verde {
    font-size: 80px;
    color: green;
    animation: latido 1s infinite;
}

.texto40 {
    font-size: 40px;
}
.texto24 {
    font-size: 24px;
}
.texto14 {
    font-size: 14px;
}
.justificado {
    text-align: justify;
  }
.max800 {
    width: 800px;
}
.max1200 {
    width: 1200px;
}
.botonAgregar {
    width: 100%;
    border: none;
    height: 48px;
    background-color: rgb(255, 183, 96);
    border-radius: 10px 0px 0px 10px;
}
.botonAgregar:hover {
    background-color: rgb(255, 219, 174);
}
.numero {
    padding: 8px;
    background-color: white;
    height: 48px;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.botonMas {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 20px;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    background-color: rgb(117, 117, 117);
    border-radius: 0px 10px 0px 0px;
}
.botonMas:hover {
    background-color: rgb(87, 87, 87);
}
.botonMas:active {
    background-color: rgb(163, 163, 163);
}
.botonMenos {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 20px;
    color: white;
    border: none;
    border-top: 1px solid white;
    background-color: rgb(117, 117, 117);
    border-radius: 0px 0px 10px 0px;
}
.botonMenos:hover {
    background-color: rgb(87, 87, 87);
}
.botonMenos:active {
    background-color: rgb(163, 163, 163);
}
.botonComprar {
    width: 190px;
    background-color: #903845;
    border-radius: 8px;
    color: white;
    text-align: center;
    padding: 10px;
}
.botonComprar:hover {
    background-color: #7a303b ;
}
.resumen {
    margin-left: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.15);
    padding: 25px;
    width: 350px;
    height: fit-content;
}

.tabla {    
    text-align: center;
    width: 800px;
}
.tabla tr:hover {
    background-color: #f7f7f7;
}
.tabla th {
    border-bottom: solid 3px rgb(224, 224, 224);
    background-color: #f7f7f7;
    padding: 10px;
}
.tabla td {
    border-bottom: solid 3px rgb(247, 247, 247);
    padding: 10px;
}
.botonSalir {
    width: 190px;
    border: solid 1px;
    border-radius: 8px;
    padding: 10px;
    background-color: white;
    color: #7A303B;
}
.botonSalir:hover {
    background-color: #7a303b ;
    color: white;
}
.impProductoGrande {
    object-fit: contain;
    background-color: #f2f2f2;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    transition: transform  0.5s ;
}
.impProductoGrande:hover {
    transform: scale(1.05);
}

.circuloMas:hover {
    transform: scale(1.1);
}
.circuloMas:active {
    transform: scale(0.9);
}   

.circuloMenos:hover {
    transform: scale(1.1);
}
.circuloMenos:active {
    transform: scale(0.9);
}

.circuloDesactivado {
    border-radius: 100%;
    background-color: #f2f2f2;
    color: #c7c7c7;
}

.botonAgotado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(205, 205, 205);
    color: white;
    width: 275px;
    height: 50px;
    border-radius: 10px;
}
.desactivado {
    filter: grayscale(100%);
}


@keyframes latido {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }


.contenedorContacto {
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  margin: auto;
}

.form-label {
  font-weight: bold;
  color: #333;
}

.gracias-container {
  margin-top: 50px;
}

.gracias-card {
  background-color: #f8f9fa;
  border-radius: 10px;
}
